<%- include("../partials/header") -%>
<% var user %>
<% if(user){ %>
    <%- include("../partials/books/take_control") %>
<% } %>


<div class="jumbotron my-jumbo">
    <h3>Create a Genre for yourself</h3>
</div>


<div class="container">
    <h1><%= title %></h1>
    <% var genres; var authors; var book; var errors; var fileError %>

    <form action="" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <% if(book === undefined){ %>
                        <input type="text" name="title" id="title" class="form-control" placeholder="Name of book"  value="">
                    <% }else{ %>
                        <input type="text" name="title" id="title" class="form-control" placeholder="Name of book"  value="<%= book.title %>">
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="author">Author</label>
                    <select name="author" id="author" class="form-control"  placeholder="Select Author">
                        <% authors.forEach(author =>{ %>
                            <option value="<%= author._id %>"><%= author.name %></option>
                        <% }) %>
                    </select>
                </div>
                <% if(book === undefined){ %>
                    <div class="form-group">
                        <label for="summary">Summary</label>
                        <textarea class="form-control" name="summary" id="summary" rows="6"   value="" placeholder="Summary"></textarea>
                    </div>
                    
                <% }else{ %>
                    <div class="form-group">
                        <label for="summary">Summary</label>
                        <textarea class="form-control" name="summary" id="summary" rows="6"   value="<%= book.summary %>" placeholder="Summary"><%= book.summary %></textarea>
                    </div>
                    
                <% } %>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="form-group">
                    <label for="genre">Genre:</label><br>
                    <% genres.forEach(genre =>{ %>
                        <input type="checkbox" class="checkbox-input" name="genre" id="<%= genre._id %>" value="<%= genre._id %>">
                        <label for="<%= genre._id %>"> <%= genre.name %> </label>
                    <% }) %>
                </div>
                <% if(book == undefined){ %>
                    <div class="form-group">
                        <label for="reason">Reason</label>
                        <textarea class="form-control" name="reason" id="reason" rows="6"   value="" placeholder="Why should people read this book?"></textarea>
                    </div>
                <% }else{ %>
                    <div class="form-group">
                        <label for="reason">Reason</label>
                        <textarea class="form-control" name="reason id="summary" rows="6"   value="<%= book.reason %>" placeholder=""><%= book.reason %></textarea>
                    </div>
                <% } %>
                <div class="form-group">
                    <label for="fileup">Book Picture</label>
                    <input type="file" value="" name="picture" id="fileup" required class="form-control"/>
                    <% if(fileError){ %>
                        <span class="text-danger"><%= fileError %></span><br>
                    <% } %>
                    <!-- <input type="file" name="picture" class="form-control-file border" id="picture" required> -->
                </div>
                <div class="form-group">
                    <!-- <label for="isbn">ISBN: </label>
                    <% if(book === undefined){ %>
                        <input type="text" class="form-control" name="isbn" id="isbn"   value="" placeholder="ISBN13"/>
                    <% }else{ %>
                        <input type="text" class="form-control" name="isbn" id="isbn"   value="<%= book.isbn %>"  placeholder="ISBN13"/>
                    <% } %> -->
                    
                    
                </div>
            </div>
            
        </div>
        <div style="text-align: center;">
            <div class="container">
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8">
                    <img
                        class="image-fluid"
                        style="max-width: 100%; height: auto;"
                        src=""
                        alt=""
                        id="blah"
                    />
                  </div>
                  <div class="col-sm-2"></div>
                </div>
            </div>
            <p></p>
            <input type="hidden" name="whoCreated" value="<%= user._id %>">
            <button type="submit" class="btn btn-primary">Create Book</button><br>
                <% if(errors){ %>
                    <% errors.forEach((error)=>{ %>
                        <span class="text-danger"><%= error.msg %></span><br>
                    <% }) %>
                <% } %>
                
        </div>
        
    </form>
    
</div>
<script>
    var picture = document.getElementById("picture");
    console.log("hello");
    picture.addEventListener("input", (e)=>{
        console.log(picture.value);
    })
</script>

<%- include("../partials/footer") -%>