<%- include("../partials/header") %>
    <% var user %>
        <% if(user){ %>
            <%- include("../partials/books/take_control") %>
                <% } %>

                    <h3>Title: <%= title %>
                    </h3>
                    <p> <strong> By:</strong> <a href="/user/<%= book.whoCreated._id %>" class="text-info">
                            <img src="kskfaksf" alt="" width="80" height="80" alt="profile">
                            <%= book.whoCreated.username %>
                        </a>
                    </p>
                    <p>
                        Date Created: <%= book.dateCreated %>
                    </p>
                    <p>
                        <strong>Author</strong>
                        <a href="<%= book.author.url %>" class="text-info">
                            <%= book.author.name %>
                        </a>
                    </p>
                    <div >
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
                                <img src="<%= book.picture %>" class="image-fluid" style="max-width:100%;height:auto"
                                    alt="book picture">
                                <div class="my-jumbo-box">
                                    <form action="/catalog/book/<%= book._id %>/like" method="POST" style="display: inline;">
                                        <button type="submit" class="btn btn-info" data-toggle="tooltip" title="Like this book"
                                        data-placement="top">
                                            <i class="fa fa-thumbs-up"></i><span class="badge badge-info">like(<%= book.like.length %>)</span>
                                        </button>
                                    </form>
                                    
                                    <a class="btn btn-success" data-toggle="tooltip" title="Comment on this book"
                                        data-placement="top" href="#comment">
                                        <i class="fa fa-comment"></i><span class="badge badge-success">comment(<%= book.comments.length %>)</span>
                                    </a>
                                    <button class="btn btn-secondary" data-target="#shareModal" data-toggle="modal"
                                        data-toggle="tooltip" title="Share socially" data-placement="top">
                                        <i class="fa fa-share"></i>
                                    </button>

                                    <!-- START OF SHARE MODAL -->
                                    <div class="modal" id="shareModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Share for others to see</h4>
                                                    <button type="button" class="close"
                                                        data-dismiss="modal">&times;</button>
                                                </div>

                                                <!-- Modal body -->
                                                <div>
                                                    <a class="twitter-share-button" href="https://twitter.com/share?url=url: <%= url %>&text=Book Title: <%= book.title %>&hashtags=naija_bookie" target="blank">
                                                        <i class="fa fa-twitter fa-2x" style="color: #1da1f2"></i>
                                                    </a>
                                                    <a href="https://linkedin.com/shareArticle?mini=true&amp;url=<%= url %>" class="ml-3" target="blank">
                                                        <i class="fa fa-linkedin fa-2x" style="color: #0077b5"></i>
                                                    </a>
                                                    <a href="https://api.whatsapp.com/send?text=<%= url %>" class="ml-3" target="blank">
                                                        <i class="fa fa-whatsapp fa-2x" style="color: #075e54"></i>
                                                    </a>
                                                    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= url %>" class="ml-3" target="blank">
                                                        <i class="fa fa-facebook fa-2x" style="color: #3b5998"></i>
                                                    </a>
                                                </div>
                                                
                                                

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info"
                                                        data-dismiss="modal">Close</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- END OF SHARE MODAL -->

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <p>
                                    <strong>Summary:</strong>
                                    <%= book.summary %>
                                </p>
                                <p>
                                    <strong>Reason:</strong>
                                    <%= book.reason %>
                                </p>
                            </div>
                        </div>

                        <p>
                            <strong>Genre:</strong>&nbsp;
                            <% book.genre.forEach((genre, index, array)=>{ %>
                                <% if(index==array.length - 1){ %>
                                    <a href="<%= genre.url %>">
                                        <%= genre.name %>
                                    </a>
                                    <% }else{ %>
                                        <a href="<%= genre.url %>">
                                            <%= genre.name %>,
                                        </a>
                                        <% } %>
                                            <% }) %>
                        </p>
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <h3 class="text-info my-jumbo-box">Comments</h3>

                                    <% if(book.comments.length> 0){ %>
                                        <% book.comments.forEach( (eachBookComment, index)=>{ %>
                                            <div class="media border p-3 mt-5">
                                                <% if(eachBookComment.whoCommented.profilePicture){ %>
                                                    <img src="/images/theo.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                                                <% }else{ %>
                                                    <figure class="story__shape">
                                                        <img src="/images/theo.jpg" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                                                        <figcaption class="story__caption"><% eachBookComment.whoCommented.firstname %></figcaption>
                                                    </figure>
                                                <% } %>
                                                <div class="media-body">
                                                    <h4>
                                                        <a href="/user/<%= eachBookComment.whoCommented._id %>" style="text-decoration: underline;">
                                                        <%= eachBookComment.whoCommented.username%>
                                                        </a>
                                                        </h5><small><i><%= eachBookComment.date %></i></small>
                                                    </h4>
                                                    <p><%= eachBookComment.comment%></p>
                                                    <form action="/catalog/book/<%= book._id %>/comment/<%= eachBookComment._id %>/like" method="POST" style="display: inline;">
                                                        <button type="submit" class="btn btn-info" data-toggle="tooltip" title="Like this book"
                                                        data-placement="top">
                                                            <i class="fa fa-thumbs-up"></i><span class="badge badge-info">like(<%= eachBookComment.like.length %>)</span>
                                                        </button>
                                                    </form>
                                                    <button class="btn btn-success" title="Reply this comment" data-placement="top"  data-toggle="collapse" data-target="#reply<%= index %>">
                                                        <i class="fa fa-comment"></i><span
                                                            class="badge badge-success">reply(<%= eachBookComment.replies.length %>)</span>
                                                    </button>
                                                    <% if(eachBookComment.replies.length > 0){ %>
                                                        <div id="reply<%= index %>" class="collapse mt-2 mb-2">  
                                                        <H4>Replies</H4>                                                      
                                                        <% eachBookComment.replies.forEach( (reply, ind) =>{ %>
                                                                <div id="accordion">
                                                                    <div class="card">
                                                                      <div class="card-header">
                                                                        <!-- <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                                                          Toggle
                                                                        </a> -->
                                                                      </div>
                                                                      <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                                                        <div class="media border p-3">
                                                                            <img src="/images/theo.jpg" alt="<%= reply.whoReplied.username %>" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                                                                            <div class="media-body">
                                                                              
                                                                              <h4>
                                                                                    <a href="/user/<%= eachBookComment.whoCommented._id %>" style="text-decoration: underline;">
                                                                                        <%= reply.whoReplied.username %>
                                                                                    </a>
                                                                                    </h5><small><i>Replied on <%= reply.date %></i></small>
                                                                              </h4>
                                                                              <p><%= reply.reply %></p>
                                                                            </div>
                                                                          </div>
                                                                      </div>
                                                                    </div>
                                                                </div>

                                                                
                                                                
                                                        <% }) %>
                                                        <!-- CHECK IF USER IF SIGNED IN ORDER TO REPLY -->
                                                        <% if(user == undefined){ %>
                                                            <p></p>
                                                            <form method="POST" action="/catalog/book/<%= book._id %>/comment/<%= eachBookComment._id %>/reply" class="mb-2">
                                                                <div class="form-group">
                                                                    <textarea style="text-align: left;"
                                                                        class="form-control"
                                                                        name="reply" 
                                                                        placeholder="Reply this comment"></textarea>
                                                                </div>
                                                                <input type="hidden" name="whoReplied" value="">
                                                                <div class="text-right">
                                                                    <input type="submit" value="Reply"
                                                                        class="btn btn-info">
                                                                </div>
                                                            </form>
                                                        <% }else{ %>    
                                                            <p></p>
                                                            <form method="POST" action="/catalog/book/<%= book._id %>/comment/<%= eachBookComment._id %>/reply" class="mb-2">                                                                        <div class="form-group">
                                                                    <textarea style="text-align: left;"
                                                                        class="form-control"
                                                                        name="reply" 
                                                                        placeholder="Reply this comment"></textarea>
                                                                </div>
                                                                <input type="hidden" name="whoReplied" value="<%= user._id %>">
                                                                <div class="text-right">
                                                                    <input type="submit" value="Reply"
                                                                        class="btn btn-info">
                                                                </div>
                                                            </form>
                                                        <% } %>
                                                    </div>
                                                    <% }else{ %>
                                                        
                                                        <button class="btn btn-success" title="Reply this comment" data-placement="top"  data-toggle="collapse" data-target="#demo<%= index %>">
                                                            <i class="fa fa-comment"></i><span
                                                                class="badge badge-success">reply(<%= eachBookComment.replies.length %>)</span>
                                                        </button>
                                                        <div id="demo<%= index %>" class="collapse">
                                                            <p class="text-danger">!Ooops No replies at the moment <% index %></p>
                                                            <!-- CHECK IF USER IF SIGNED IN ORDER TO REPLY -->
                                                            <% if(user == undefined){ %>
                                                                <form method="POST" action="/catalog/book/<%= book._id %>/comment/<%= eachBookComment._id %>/reply">
                                                                    <div class="form-group">
                                                                        <textarea style="text-align: left;" class="form-control"
                                                                            name="reply" 
                                                                            placeholder="Reply this comment"></textarea>
                                                                    </div>
                                                                    <input type="hidden" name="whoReplied" value="">
                                                                    <br>
                                                                    <div class="text-right">
                                                                        <input type="submit" value="Comment"
                                                                            class="btn btn-info">
                                                                    </div>
                                                                </form>
                                                            <% }else{ %>    
                                                                <form method="POST" action="/catalog/book/<%= book._id %>/comment/<%= eachBookComment._id %>/reply">                                                                        <div class="form-group">
                                                                        <textarea style="text-align: left;" class="form-control" name="reply" placeholder="Reply this comment"></textarea>
                                                                    </div>
                                                                    <input type="hidden" name="whoReplied" value="<%= user._id %>">
                                                                    <br>
                                                                    <div class="text-right">
                                                                        <input type="submit" value="Reply"
                                                                            class="btn btn-info">
                                                                    </div>
                                                                </form>
                                                            <% } %>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <% }) %>
                                                <% } else { %>
                                                    <p class="text-danger">No comments at the moment. You can be the
                                                        first to comment!</p>
                                                    <% } %>


                                                        <p></p>
                                                        <% if(user==undefined){ %>
                                                            <form action="/catalog/book/<%= book._id %>/comment"
                                                                method="POST">
                                                                <div class="clearfix">
                                                                    <div class="form-group">
                                                                        <textarea style="width: 80%"
                                                                            class="form-control float-right"
                                                                            name="comment" id=""
                                                                            placeholder="Enter your comment for this book"></textarea>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <div class="text-right">
                                                                    <input type="submit" value="Comment"
                                                                        class="btn btn-info">
                                                                </div>
                                                            </form>
                                                            <% } else {%>
                                                                <form action="/catalog/book/<%= book._id %>/comment"
                                                                    method="POST">
                                                                    <div class="clearfix" id="comment">
                                                                        <div class="form-group">
                                                                            <textarea
                                                                                class="form-control float-right"
                                                                                name="comment" 
                                                                                placeholder="Enter your comment for this book">
                                                                            </textarea>
                                                                        </div>
                                                                        <input type="hidden" name="whoCommented"
                                                                            value="<%= user._id %>">
                                                                    </div>
                                                                    <br>
                                                                    <div class="text-right">
                                                                        <input type="submit" value="Comment"
                                                                            class="btn btn-info">
                                                                    </div>
                                                                </form>
                                                                <% } %>

                                </div>
                                <div class="col-sm-12 col-md-2"></div>
                            </div>
                        </div>

                    </div>
                </div>

                    <%- include("../partials/footer") %>