<%- include("../partials/header") %>
    <% var user %>
        <% if(user){ %>
            <%- include("../partials/books/take_control") %>
                <% } %>

                    <h1>Title: <%= title %>
                    </h1>
                    <h3> By: <a href="/user/<%= book.whoCreated._id %>" class="text-info">
                          <img src="kskfaksf" alt="" width="80" height="80" alt="profile">  <%= book.whoCreated.username %> 
                        </a> <span> </span>
                        Date Created: 
                    </h3>
                    <p>
                        <strong>Author</strong>
                        <a href="<%= book.author.url %>" class="text-info">
                            <%= book.author.name %>
                        </a>
                    </p>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 mb-5">
                                <img src="<%= book.picture %>" class="image-fluid" style="max-width:100%;height:auto"
                                    alt="book picture">
                                    <div class="my-jumbo-box">
                                        <button class="btn btn-info" data-toggle="tooltip" title="Like this book" data-placement="top">
                                            <i class="fa fa-thumbs-up"></i><span class="badge badge-info">1</span>
                                        </button>
                                        <button class="btn btn-success"  data-toggle="tooltip" title="Comment on this book" data-placement="top">
                                            <i class="fa fa-comment"></i><span class="badge badge-success">1</span>
                                        </button>
                                        <button class="btn btn-secondary" data-target="#shareModal" data-toggle="modal"  data-toggle="tooltip" title="Share socially" data-placement="top">
                                            <i class="fa fa-share"></i>
                                        </button>
            
                                        <!-- START OF SHARE MODAL -->
                                        <div class="modal" id="shareModal">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
            
                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Share for others to see</h4>
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    </div>
            
                                                    <!-- Modal body -->
                                                    <div>
                                                        <a class="twitter-share-button"href="https://twitter.com/intent/tweet">Tweet</a>
                                                    </div>
            
                                                    <!-- Modal footer -->
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-info"
                                                            data-dismiss="modal">Close</button>
                                                    </div>
            
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END OF SHARE MODAL -->
            
                                    </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <p>
                                    <strong>Summary:</strong>
                                    <%= book.summary %>
                                </p>
                                <p>
                                    <strong>Reason:</strong>
                                    <%= book.reason %>
                                </p>
                            </div>
                        </div>

                        <p>
                            <strong>Genre:</strong>&nbsp;
                            <% book.genre.forEach((genre, index, array)=>{ %>
                                <% if(index==array.length - 1){ %>
                                    <a href="<%= genre.url %>">
                                        <%= genre.name %>
                                    </a>
                                    <% }else{ %>
                                        <a href="<%= genre.url %>">
                                            <%= genre.name %>,
                                        </a>
                                        <% } %>
                                            <% }) %>
                        </p>
                        
                        
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-8">
                                    <h3 class="text-info my-jumbo-box">Comments</h3>
                                    <div class="card my-jumbo">
                                        <div class="card-header">
                                            <a href="#" style="text-decoration: underline;">Theodore Kelechukwu</a>
                                        </div>
                                        <div class="card-body">
                                            This is the comment of this book. This is the user's comment!
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-info" data-toggle="tooltip" title="Like this comment" data-placement="top">
                                                <i class="fa fa-thumbs-up"></i><span class="badge badge-info">1</span>
                                            </button>
                                            <button class="btn btn-success"  data-toggle="tooltip" title="Reply this comment" data-placement="top">
                                                <i class="fa fa-reply"></i><span class="badge badge-success">1</span>
                                            </button>
                                        </div>
                                    </div>
                                    
                                    <p></p>
                                    <form action="">
                                        <div class="clearfix">
                                            <div class="form-group">
                                                <textarea style="width: 80%" class="form-control float-right" name="" id="" placeholder="Enter your comment"></textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="text-right">
                                            <input type="submit" value="Comment" class="btn btn-info">
                                        </div>  
                                    </form>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    </div>

                    <%- include("../partials/footer") %>