<%- include("../partials/header") %>


<div class="jumbotron my-jumbo">
  <h3>Welcome to Book Hut <br>
    Here you get to do a lot more than just read books.
  </h3>
</div>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% if(error){ %>
      <p>Error getting dynamic content</p>
    <% } else{ %>
      <p>The library has the following record counts</p>
      <div class="row">
        <div class="col-sm-12 col-md-6 ">
          <ul class="list-group my-jumbo">
            <li class="list-group-item"><strong>Books: <span class="badge badge-info"><%= data.book_count %></span> </strong></li>
            <li class="list-group-item"><strong>Authors: <span class="badge badge-info"><%= data.author_count %></span> </strong></li>
            <li class="list-group-item"><strong>Genres: <span class="badge badge-info"><%= data.genre_count %></span></strong></li>
          </ul>
        </div>
      </div>
    <% } %>
  
    <div style="position: fixed;right:0px;bottom:50%;">
      <div class="toast" data-autohide="false">
        <div class="toast-header">
          <strong class="mr-auto text-primary">Naija Bookie</strong>
          <small class="text-muted">Welcome Message</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body">
          Welcome back Theodore! We miss you!
        </div>
      </div>
      
    </div>

    <script>
      $(document).ready(function(){
        $('.toast').toast('show');
      });
      </script>
<%- include("../partials/footer") %>

