<%- include("../partials/header") -%>
<% var user ; var book_list ;  %>
<% if(user){ %>
    <%- include("../partials/books/take_control") %>
<% } %>
<% var books %>
<h4 class="text-center">Search Result >> <span style="color:grey"><%= query %></span></h4>
<div class="row">
    <% if(books.length > 0){ %>
        <% books.forEach(book =>{ %>
            
            <div class="col-sm-12 col-md-6 col-lg-4 mb-2">
                <div class="media border bg-dark p-3 text-light" style="height:100%;position: relative;">
                    <img src="http://books.google.com/books/content?id=u-R37GQsVfgC&printsec=frontcover&img=1&zoom=5&source=gbs_api" alt="John Doe" class="mr-3 mt-3 img-thumbnail" style="width:80px;">
                    <div class="media-body">
                      <p> <span class="badge badge-success">Author(s)</span> <small><i><%= book.volumeInfo.authors %></i></small></p>
                      <p><span class="badge badge-success">Title</span> <small><%= book.volumeInfo.title %></small></p>
                    </div>
                    <div style="position: absolute; bottom: 5px; right: 5px;">
                        <a href="<%= book.selfLink %>" class="btn btn-primary">Preview</a>
                    </div>
                </div>
                  
                <!-- <div class="card bg-dark text-light">
                    <img class="mx-auto d-block" src="http://books.google.com/books/content?id=u-R37GQsVfgC&printsec=frontcover&img=1&zoom=5&source=gbs_api" alt="Card image">
                    <div class="card-body">
                      <h4 class="card-title">Author(s): <%= book.volumeInfo.authors %></h4>
                      <p class="card-text">Title: <%= book.volumeInfo.title %></p>
                      <a href="<%= book.selfLink %>" class="btn btn-primary">View Book Details</a>
                    </div>
                </div> -->
            </div>
        <% }) %>
    <% } %>    
</div>

<%- include("../partials/footer") -%>