<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
  <script type="IN/Share" data-url="https://www.linkedin.com"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/dist/css/font-awesome.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="/dist/js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
  <script src="/dist/js/bootstrap.js"></script>

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <% var user; var welcomedUser; %>


    <% if(user==undefined){ %>
      <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light"">
          <a class="navbar-brand" href="/catalog">Naija Bookie <img src="/images/library.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                <a class="nav-link " href="/catalog">Home <img src="/images/books.png" width="20px" alt=""></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  For Books
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/catalog/books">All books <img src="/images/books.png" width="20px"
                      alt=""></a>
                  <a class="dropdown-item" href="/catalog/authors">All authors<img src="/images/authors.png"
                      width="20px" alt=""></a>
                  <a class="dropdown-item" href="/catalog/genres">All genres <img src="/images/authors.png" width="20px"
                      alt=""> </a>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Stories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/catalog/author/create">Write a Story</a>
                  <a class="dropdown-item" href="/catalog/genre/create">Read Stories</a>
                </div>
              </li>
              <li class="nav-item"><button class="btn btn-info" data-target="#myModal"
                  data-toggle="modal">Login</button></li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <form action="/user/signin" method="POST">
                  <div class="form-group">
                    <label for="email">Username:</label>
                    <input type="text" name="username" class="form-control" placeholder="Enter email" id="email">
                  </div>
                  <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter password" id="pwd">
                  </div>

                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <p class="float-right"><a class="text-primary" href="/user/forgorPassword">Forgot Password?</a></p>
                <p style="clear:right">You don't have an account? <a class="text-primary" href="/user/signup" > &rarr; SignUp</a></p>
    
              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
        <div class="container mt-2 mb-5">
          <% } else {%>
            <div class="">
              <nav class="navbar navbar-expand-lg navbar-light bg-light"">
                <a class="navbar-brand" href="/catalog">Naija Bookie <img src="/images/library.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-info" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">

                    <li class="nav-item">
                      <a class="nav-link" href="/catalog">Home <img src="/images/books.png" width="20px" alt=""></a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        For Books
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/catalog/books">All books <img src="/images/books.png"
                            width="20px" alt=""></a>
                        <a class="dropdown-item" href="/catalog/authors">All authors<img src="/images/authors.png"
                            width="20px" alt=""></a>
                        <a class="dropdown-item" href="/catalog/genres">All genres <img src="/images/authors.png"
                            width="20px" alt=""> </a>
                      </div>
                    </li>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Stories
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/catalog/author/create">Write a Story</a>
                        <a class="dropdown-item" href="/catalog/genre/create">Read Stories</a>
                      </div>
                    </li>

                  </ul>
                  <!-- Dropdown -->
                  <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                      <i class="fa fa-user">
                        <%= user.username %>
                      </i>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/user/<%= user._id %>">Profile</a>
                      <a class="dropdown-item" href="#">Notifications</a>
                      <a class="dropdown-item" href="/user/<%= user._id %>/chat">Chats</a>
                      <a href="/user/logout" class="dropdown-item">Logout</a>
                    </div>
                  </div>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>

                </div>
              </nav>




              <div class=" container mt-2 mb-5">

               
                <% } %>
                <%- include("../partials/books/searchBookOnline") %>