<%- include("partials/header") %>
<%- include("partials/books/take_control") %>

<h1><%=title %></h1>
<ul class="list-group">
    <% if(bookinstance_list.length > 0){%>
        <% bookinstance_list.sort((a,b)=>{let textA = a.book.title.toUpperCase(); let textB = b.book.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;}) %>
        <% bookinstance_list.forEach(val=>{ %>
            <li class="list-group-item">
                <a href="<%= val.url %>"><%= val.book.title %></a>: <%= val.book.imprint %> - 
                    <% if(val.status === "Available"){ %>
                        <span class="text-success"><%= val.status %></span>
                    <% } else if(val.status === "Maintenance"){ %>
                        <span class="text-danger"><%= val.status %></span>
                        <span>Due: <%= val.due_date_formatted %> </span>
                    <% } else{ %>
                        <span><%= val.status %></span>
                        <span>Due: <%= val.due_date_formatted %> </span>
                    <% } %> 
            </li>
        <% })%>
    </ul>
    <% }else{ %>
        <p>There are no instances found</p>
    <% } %>


<%- include("partials/footer") %>