<%- include("partials/header") %>
<%- include("partials/books/take_control") %>


<h1>Title: <%= title %></h1>
<p>
    <strong>Author</strong>
    <a href="<%= book.author.url %>"><%= book.author.name %></a>
</p>
<p>
    <strong>Summary:</strong> <%= book.summary %>
</p>
<p>
    <strong>ISBN:</strong><%= book.isbn %>
</p>
<p>
    <strong>Genre:</strong>&nbsp;
    <% book.genre.forEach((genre, index, array)=>{ %>
        <% if(index == array.length - 1){ %>
            <a href="<%= genre.url %>"><%= genre.name %></a>
        <% }else{ %>
            <a href="<%= genre.url %>"><%= genre.name %>,</a>
        <% } %>
    <% }) %>
</p>

</div>
    
<%- include("partials/footer") %>