<%- include("./partials/header") -%>



<div class="jumbotron my-jumbo">
    <h3>This describes what a particular book is</h3>
</div>
<div class="breadcrumb col-sm-6 col-md-4">
    <h4> <span class="breadcrumb-item text-success">Genre:</span> <span><%= genre.name %></span> </h4>
</div>
<div style="margin-left: 20px; margin-top:20px">
    <h4>Books</h4>
    <% if(genre_books.length > 0){ %>
        <dl>
            <% genre_books.forEach(book =>{%>
                <dt>
                    <a href="<%= book.url%>"><%= book.title%></a>
                </dt>
                <dd>
                   <%= book.summary %> 
                </dd>
                <p></p>
            <% }) %>
        </dl>    
    <% }else{ %>
        <p>There are no books for this genre</p>
    <% } %>
    
</div>


<%- include("./partials/footer") -%>