<%- include("partials/header") %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Dynamic content</h1>
    <% if(error){ %>
      <p>Error getting dynamin content</p>
    <% } else{ %>
      <p>The library has the following record counts</p>
      <div class="row">
        <div class="col-12 m-auto">
          <ul class="list-group">
            <li class="list-group-item"><strong>Books: <%= data.book_count %></strong></li>
            <li class="list-group-item"><strong>Copies: <%= data.book_instance_count %></strong></li>
            <li class="list-group-item"><strong>Copies available: <%= data.book_instance_available_count %></strong></li>
            <li class="list-group-item"><strong>Authors: <%= data.author_count %></strong></li>
            <li class="list-group-item"><strong>Genres: <%= data.genre_count %></strong></li>
          </ul>
        </div>
      </div>
    <% } %>
  

<%- include("partials/footer") %>

